/* ========================================
Common CSS
======================================== */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 57px;
    font-weight: 500;
    color: #573737;
}
h2 {
    font-size: 40px;
    color: #573737;
}
h3 {
    font-size: 18px;
}
p {
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.container p {
    text-align: justify;
}
.half-width {
    width: 50%;
}

.orange-text {
    color: #ffa500;
}

.Puffins-text {
    color: #ee5a24;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #ffa500, #fd6e3a);
    padding: 12px 35px;
    /* margin-top: 40px; */
    border-radius: 40px;
    box-shadow: 3px 5px 12px -5px red;
}

/* ======================================
Header area
====================================== */
.header-area {
    background-image: url(../image/background/header_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    display: flex;
    
}


/* ======================================
Navigation area
======================================= */
/* =======================================
Caption-area
======================================= */
.caption-area {
    background-image: url(../image/background/caption_background.jpg);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
}

.caption-text-area{
    padding: 5%;
    
} 

.caption-image-area{
    padding: 5%;
    text-align: center;
} 

.caption-image-area img{
    width: 100%;
}
/* =========================================
About me
========================================= */
.about-area {
    background-image: url(../image/background/about_me_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
 .about-image-area{
     text-align: center;
     padding-top: 5%;
     padding-left:5%;
    }
.about-image-area img{
    width: 65%;
}
.about-text-area{
    padding-left: 15%;
    padding-right: 10%;
    margin-top: 50px;
}
.about-text-area a{
    margin-top: 25px;
}

/* ==========================================
Recipe area
========================================== */
.recipe-area{
    display: flex;
    flex-direction: column;
    
}

.recepe-container{
    width: 90%;
    margin: auto;
}

.recipe-caption{
    text-align: center;
    margin-bottom: 20px;
}
.recipe-caption p{
    margin: 0 20% 2%;
}

/* ----------- Recipe-card ------------- */
    .recipe-card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .recipe-card{
        width: 24%;
        text-align: center;
        box-shadow: -10px 10px 50px #b8b8b8;
        margin: 1%;
        border-radius: 19px;
        padding: 2.1%
    }

    .recipe-card img {
        width: 98%;
        height: 250px;
        border-radius: 16px;
    }


/* -------------- social --------------- */
    .social_follower-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
        box-shadow: 15px 10px 45px grey;
        border-radius: 10px;
    }
    .social_follower-row h2{
        color: #000000;
        font-weight: 460;
        font-size: 38 px;
    }