
/* ========================================
Common CSS
======================================== */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 57px;
    font-weight: 500;
    color: #573737;
}
h2 {
    font-size: 40px;
    color: #573737;
}
h3 {
    font-size: 18px;
}
p {
    text-align: justify;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.orange-text {
    color: #ffa500;
}

.Puffins-text {
    color: #ee5a24;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #ffa500, #fd6e3a);
    padding: 12px 35px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 40px;
    box-shadow: 3px 5px 12px -5px red;
}

/* ======================================
Header area
====================================== */
.navigation-area{
    display: flex;
    justify-content: center;   
    margin: 0;
    text-align: center;
}

.navigation-bar{
    background-image: linear-gradient(to right, #ff7474, #b580ff);
    border-radius: 5px;
    position: fixed;
    overflow: hidden;
    width: 100%;
    
}
.navigation-bar ul{
    list-style: none;
}
.navigation-bar ul li{
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
}
.navigation-bar ul li a{
    text-decoration: none;
     
}

/* =======================================
Caption-area
======================================= */
.caption-area {
    background-image: url(../image/background/caption_background.jpg);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    margin-top: 5%;
}

.caption-text-area{
    padding: 5%;
    
} 
.caption-text-area a{
    margin-top: 20%;
}
.caption-image-area{
    padding: 5%;
    text-align: center;
    
} 

.caption-image-area img{
    width: 100%;
    margin-top: 5%;
}
/* =========================================
About me
========================================= */
.about-area {
    background-image: url(../image/background/about_me_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
 .about-image-area{
     text-align: center;
     padding-top: 5%;
     padding-left:5%;
    }
.about-image-area img{
    width: 65%;
}
.about-text-area{
    padding-left: 15%;
    padding-right: 10%;
    margin-top: 50px;
}
.about-text-area a{
    margin-top: 25px;
}

/* ==========================================
Recipe area
========================================== */
.recipe-area{
    display: flex;
    flex-direction: column;
    
}

.recepe-container{
    width: 90%;
    margin: auto;
}

.recipe-caption{
    text-align: center;
    margin-bottom: 20px;
}
.recipe-caption p{
    margin: 0 20% 2%;
}

/* ----------- Recipe-card ------------- */
    .recipe-card-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .recipe-card{
        
        width: 24%;
        text-align: center;
        box-shadow: -10px 10px 50px #b8b8b8;
        margin: 1%;
        border-radius: 19px;
        padding: 2.1%
        
    }
    .recipe-card a{
        text-decoration: none;
        color: #000;
    }

    .recipe-card img {
        width: 98%;
        height: 250px;
        border-radius: 16px;
    }


/* -------------- social --------------- */
    .social_follower-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 20px;
        box-shadow: 15px 10px 45px grey;
        border-radius: 10px;
    }
    .social_follower-row h2{
        color: #000000;
        font-weight: 460;
        font-size: 38 px;
    }

    /* ======================================
    offer area
    ====================================== */
    .offer-area{
        background-image: linear-gradient(to right,#000000, #222222 );
        color: #fff;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .offer-text{
       color: chartreuse;
        text-align: center;
         border-bottom: 40PX;
    }
    .offer-text h2{
         color: chartreuse;
        margin-bottom: 0;
    }
     
    
    .offer-card{
        display: flex;
        flex-direction: row;
        box-shadow: 15px 20px 100px #b5b063;
        padding: 10%;
        margin: 5%;
        margin-bottom: 10%;
        border-radius: 30px;
        
    }
    .offer-text-card{
        text-align: center;
        padding: 20px;
    }
    .offer-text-card h2{
        color: crimson;
        font-size: 30px;
    } 
    .offer-image-card{
        text-align: justify;
    }
    .offer-text-card small{
        color: #8d8d8d;
    }

    .offer-image-card img{
        width: 100%;
        border-radius: 15px;
    }
    .offer-span{
        font-size: 15px;
        text-decoration: bold;
        color: darkmagenta;
    }

    #offer_1 img{
        margin: 10%;
        
    }
   

    #offer_2 img{
        margin-right: 15%;
        margin-top: 15%;
    }
    /* =============================
    Footer
    =============================== */
    .footer-area{
        display: block;
        width: 100%;
        height: 150px;
        background-image: url(../image/background/footer_background.png);
        text-align: center;
    }
    .footer-area h3{
        margin: 0;
        padding-top: 4%;
        color: rgb(108, 107, 223);
        font-size: 28px;
    }
    .footer-area h5{
        color: #3700ff;
    }